* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../img2/friend1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    list-style-type: none;
}
.image-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ufo-items {
    position: relative;
    width: 100px;
    height: 80px;
    top: 500px; /* 원하는 위치로 조정 */
    left: 200px;
    transform: rotate(10deg); 
}

.telescope-items {
    transform: rotate(20deg); 
    position: relative;
    width: 100px;
    height: 80px;
    top: 300px; /* 원하는 위치로 조정 */
    left: 80px; /* 원하는 위치로 조정 */
    /* 다른 스타일 속성도 필요한 경우 여기에 추가하세요 */
}
.star-items {
    transform: rotate(140deg); 
    position: relative;
    width: 80px;
    height: 80px;
    top: 40px; /* 원하는 위치로 조정 */
    left: 250px; /* 원하는 위치로 조정 */
    /* 다른 스타일 속성도 필요한 경우 여기에 추가하세요 */
}
.rabbit-items {
    transform: rotate(10deg); 
    position: relative;
    width: 80px;
    height: 80px;
    top: 140px; /* 원하는 위치로 조정 */
    left: 10px; /* 원하는 위치로 조정 */
    /* 다른 스타일 속성도 필요한 경우 여기에 추가하세요 */
}
.rocket-items { 
    position: relative;
    width: 150px;
    height: 140px;
    top: 20px; /* 원하는 위치로 조정 */
    left: 199px; /* 원하는 위치로 조정 */
    /* 다른 스타일 속성도 필요한 경우 여기에 추가하세요 */
}
.alien-items {
    transform: rotate(140deg); 
    position: relative;
    width: 100px;
    height: 80px;
    top: 100px; /* 원하는 위치로 조정 */
    left: 30px; /* 원하는 위치로 조정 */
    /* 다른 스타일 속성도 필요한 경우 여기에 추가하세요 */
}
#home {
    position: relative;
    width: 100px;
    height: 80px;
    top: 86px; /* 원하는 위치로 조정 */
    left: 325px; /* 원하는 위치로 조정 */
    color: white;
    font-size: 25px;
}